<template>
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <el-card v-loading="loader"  :element-loading-text="text_loader" class="box-card">
            <div slot="header" class="clearfix">
              <span>Carga de Padron</span>
            </div>
            <form autocomplete="off">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <el-button type="primary" @click="download" plain>Cargar datos</el-button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </el-card>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.extend {
  width: 100%;
}
</style>
<script>
export default {
  components: {},
  data() {
    return { form: {}, resource: "padron", loader: false, text_loader: '' };
  },
  created() {
    //this.init();
  },
  methods: {
    download() {
      this.loader = true;
      this.text_loader = 'Descargando datos de SUNAT.'
      return new Promise((resolve, reject) => {
        this.$http
          .get(`/${this.resource}/download`)
          .then(response => {
            this.$message.success(response.data.message);

            this.loader = false;
            this.extract();
          })
          .catch(error => {
            this.$message.error(response.data.message);
          });
      });
    },
    extract() {
      this.text_loader = 'Extrayendo datos del Zip.'
      this.loader = true;
      return new Promise((resolve, reject) => {
        this.$http
          .get(`/${this.resource}/extractor`)
          .then(response => {
            this.$message.success(response.data.message);
            this.loader = false;
            this.loaddata();
          })
          .catch(error => {
            this.$message.error(response.data.message);
          });
      });
    },
    loaddata() {
       this.text_loader = 'Migrando datos a la BD.'
      this.loader = true;
      return new Promise((resolve, reject) => {
        this.$http
          .get(`/${this.resource}/loadtdata`)
          .then(response => {
            this.$message.success(response.data.message);
            this.loader = false;
            this.text_loader = ''
          })
          .catch(error => {
            this.$message.error(response.data.message);
          });
      });
    }
  }
};
</script>

<style>
.form-control-feedback {
  color: red;
}
</style>
